<%= form_with(model: @task, local: true) do |form| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= @task.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <div class="task_title">
      <%= form.label :task_title %><br>
      <%= form.text_field :task_title %>
    </div>
    <div class="task_description">
      <%= form.label :task_description %><br>
      <%= form.text_field :task_description %>
    </div>
    <div class="task_limit">
      <%= form.label :limit %><br>
      <%= form.date_field :limit %>
    </div>
    <div class="task_status">
      <%= form.label :status %><br>
      <%= form.select :status, Task.statuses.keys, {prompt: "選択してください"} %>
    </div>
    <div class="task_priority">
      <%= form.label :priority %><br>
      <%= form.select :priority, Task.priorities.keys, {prompt: "選択してください"} %>
    </div>
    <div class="label">
      <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, checked: @task.labels.include?(label), disabled: label[:disabled], include_hidden: false }, label[:id] %>
      <%= label.name %>
      <% end %>
    </div>
    <br>
    <div>
    <%= form.submit class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
<br>
<div>
  <%= link_to t('view.New Task'), new_task_path, class: "btn btn-primary" %>
  <%= link_to t('view.Index Task'), tasks_path, class: 'btn btn-success' %>
</div>
