<h1><%= t('view.show') %></h1>
<div><%= notice %></div>
<div><%= t('view.Title') %>: <%= @task.task_title %></div>
<div><%= t('view.Description') %>: <%= @task.task_description %></div>
<div><%= t('view.Limit') %>: <%= l @task.limit, format: :long %></div>

<div><%= link_to t('view.Index Task'), tasks_path %></div>
