<p>管理画面</p>
<h1>ユーザー一覧</h1>
<%= link_to '新しくユーザー作成する', new_admin_user_path, class: "btn btn-primary" %>
<table>
  <tr>
    <th>ID</th>
    <th>ユーザーネーム</th>
    <th>email</th>
    <th>admin権限</th>
    <th>作成日</th>
    <th colspan="3"></th>
  </tr>
<% @users.each do |user| %>
  <tr class="user_row">
    <td><%= user.id %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.admin %></td>
    <td><%= l user.created_at, format: :long %></td>
    <td><%= link_to 'ユーザー詳細', admin_user_path(user), class: "btn btn-outline-primary" %></td>
    <td><%= link_to 'ユーザー編集', edit_admin_user_path(user), data: { confirm: '編集してよろしいですか?' }, class: 'btn btn-outline-success' %></td>
    <td><%= link_to '削除',[:admin, user], method: :delete, data: { confirm: '削除してよろしいですか?' }, class: 'btn btn-outline-danger' %></td>
  </tr>
<% end %>
</table>
<%= paginate(@users) %>
