<p>管理画面</p>
<h1>ユーザー新規作成</h1>
<%= form_with(model: [:admin, @user], local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="form-group">
    <div class="user_name">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>
    <div class="user_email">
      <%= form.label :email %><br>
      <%= form.text_field :email %>
    </div>
    <div class="user_password">
      <%= form.label :password %><br>
      <%= form.text_field :password %>
    </div>
    <div class="user_password_confirmation">
      <%= form.label :password_confirmation %><br>
      <%= form.password_field :password_confirmation %>
    </div>
    <div class="user_admin">
      <%= form.label :admin %><br>
      <%= form.select :admin, [['false',false],['true',true]], { selected: false } %>
    </div>
    <br>
    <div>
    <%= form.submit class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
<br>
<div>
  <%= link_to 'ユーザー一覧', admin_users_path, class: "btn btn-primary" %>
</div>
