<p>管理画面</p>
<table class="user_details">
  <thead>
    <h2>ユーザー詳細</h2>
  </thead>
  <tr>
    <th>名前</th>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>管理者権限</th>
    <td><%= @user.admin %></td>
  </tr>
  <tr>
    <th>作成日</th>
    <td><%= l @user.created_at %></td>
  </tr>
  <tr>
    <th>更新日</th>
    <td><%= l @user.updated_at %></td>
  </tr>
</table>
<br>
<div class="task_list">
    <h2> Task一覧</h2>
  <ul>
    <% @tasks.each do |user| %>
    <li><%= user.task_title %></li>
    <% end %>
  </ul>
</div>

  <%= link_to 'ユーザー一覧', admin_users_path, class: "btn btn-primary" %>
